<div class="wrapper container container-sm container-md container-lg container-xl">
    {{> header }}
    <main>
        <section>
            <h3 class="title">{{title}}</h3>
            <div class="top-news row row-cols-1 row-cols-md-2 row-cols-lg-4 products-container">
                {{#if news}}
                {{#each news}}
                <div class="news-tile">
                    <div class="news-date">{{this.date}}</div>
                    <div class="news-title"><a href="/news/{{this.id}}?ref={{this.ref}}">{{this.title}}</a>
                    </div>
                    <div class="news-descr">{{this.preview}}</div>
                </div>
               {{/each}}
               {{else}}
               <p>Нет новостей<p>
               {{/if}}
            </div>
        </section>
    </main>
</div>

{{> footer }}